* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1000px;
}

input {
  display: block;
  margin: 0 auto;
  width: 900px;
  height: 50px;
  font-size: 35px;
  padding: 0 40px;
  &::placeholder {
    text-align: center;
  }
}

button {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 40px;
  font-size: 30px;
}
.toDoList__list-item {
  margin: 5px 55px;
  list-style: none;
  position: relative;
  font-size: 30px;
  .toDoList__list-p {
    margin-right: 10px;
  }
  .toDoList__list-div {
    display: flex;
    justify-content: left;
  }

  .delete {
    content: '';
    display: block;
    position: absolute;
    border: none;
    left: 873px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../icons/trash.png') center (center / cover) no-repeat;
    cursor: pointer;
  }
}
